body {
    background-color: rgb(104, 103, 103);
    margin: 0;
    position: relative;
}

header {
    background-color: rgb(17, 10, 41);
    color: white;
    padding: 2rem 2rem;
}

h1 {
    color: rgb(248, 248, 248);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 4rem;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-style: normal;
}

.fuente2 {
    color: aliceblue;
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    width: 600px;
    height: 430px;
    position:  relative;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

div {
    text-align: center;
    margin: 5%;
}

a {
    background-color: rgba(71, 71, 71, 0);
    color: aliceblue;
    text-align: center;
}

.redes {
    font-size: 24px;
}