body {
    background-image: url("img/Gemini_Generated_Image_3d68qk3d68qk3d68.png");
    margin: 0;
    position: relative;
}

header {
    background: #ffffff04;
    color: rgb(31, 30, 30);
    padding: 2rem 2rem;
}

h1 {
    color: rgb(248, 248, 248);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 4rem;
    font-family: "BBH Sans Hegarty", sans-serif;
}

.titulos, .fuente2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h2 {
    border: 2px solid rgba(250, 235, 215, 0.76);
    background-color: rgba(250, 235, 215, 0.76);
    border-radius: 8px;
}

.fuente2 {
    color: rgb(237, 242, 242);
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 3px 5px 5px rgb(0, 0, 0);
}

.nav {
    width: 300px;
    display: flex;
}

.nav__link {
    color: rgb(250, 235, 215);
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover {
    background: #ffffff2b;
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff04;
    border-radius: 0 16px 16px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list__item {
    list-style-type: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #ffffff5c;
    height: 0;
    transition: height .4s;
}

main {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    width: 800px;
    height: 630px;
    position: relative;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

a {
    background-color: transparent;
    color: aliceblue;
    text-align: center;
}

.redes {
    font-size: 24px;
}

.formulario {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.formulario:hover {
    box-shadow: 0 4px 10px rgb(255, 255, 255);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.tabla1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.tabla {
    width: 60%;
    padding: 15%;
    border-collapse: collapse;
    background-color: antiquewhite;
}

.tabla:hover {
    box-shadow: 0 4px 10px rgb(243, 243, 243);
}

.tabla th,
.tabla td {
    border: 3px solid rgb(153, 148, 148);
}

.tabla td {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 4rem;
}
