body {
    background-color: rgb(153, 148, 148);
    margin: 0;
    position: relative;
}

header {
    background-color: rgb(17, 10, 41);
    color: white;
    padding: 2rem 2rem;
}

h1 {
    color: rgb(248, 248, 248);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 4rem;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-style: normal;
}

h2{
    margin: auto ;
}

.fuente2 {
    color: aliceblue;
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}

main {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

section {
    display: flex;
    width: 600px;
    height: 430px;
    position: relative;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

div {
    text-align: center;
    margin: 5%;
}

a {
    background-color: rgba(71, 71, 71, 0);
    color: aliceblue;
    text-align: center;
}

.redes {
    font-size: 24px;
}

.formulario {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.formulario:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.tabla1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.tabla {
    width: 60%;
    padding: 15%;
    border-collapse: collapse;
    background-color: antiquewhite;
}

.tabla th{
    border: 3px solid rgb(104, 103, 103);
}
.tabla td {
    border: 3px solid rgb(104, 103, 103);
}

ul {
    list-style-type: none;
}